@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,500&display=swap&subset=cyrillic,cyrillic-ext');

/* основное */
/* 320 */
body {
  background-color: #121C41;
  font-family: 'Fira Code', monospace;
}

p {
  color: #ffff;
  font-weight: 300;
  font-size: 12px;
}

h1 {
  color: #97F9F3;
  font-weight: 500;
  font-size: 18px;
  text-shadow: #97F9F3 0px 0px 2px;
}

h2 {
  color: #ffff;
  font-weight: 500;
  font-size: 18px;
  text-shadow: #ffff 0px 0px 2px;
  margin-top: 1vw;
}

.text {
  position: relative;
  margin-top: 55vw;
  z-index: 4;
}

.guys {
  width: 124vw;
  z-index: 3;
  overflow: hidden;
  position: absolute;
  top: -10vw;
  right: 0vw;
}

.illustration {
  width: 145vw;
}

.planets {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  top: 37vw;
  width: 100vw;
  height: 365vw;
}

.stars {
  position: fixed;
  top: 3vw;
  width: 100vw;
  z-index: 1;
}

/* Планеты */

.earthill {
  width: 80vw;
  margin-left: 43vw;
}

.keplerill {
  width: 90vw;
  margin-left: 3vw;
  margin-top: 35vw;
}
.taukitaill {
  width: 86vw;
  margin-left: 20vw;
  margin-top: 4vw;
}

.proximaill {
  width: 75vw;
  margin-top: -16vw;
  margin-left: -12vw;
}

.babyproximaill {
  position: absolute;
  width: 38vw;
  top: 331vw;
  left: -12vw;
}

/* Земля */

.earth {
  width: 51vw;
  margin-left: 7vw;
}

.text p {
  margin-top: 2vw;
}

/* Кеплер */

.kepler {
  width: 53vw;
  margin-left: 41vw;
  margin-top: 84vw;
}

/* Тау Кита */

.taukita {
  width: 53vw;
  margin-top: 42vw;
  margin-left: 7vw;
}

/* Проксима */

.proximach {
  width: 100vw;
  margin-top: 49vw;
  /* margin-left: 7vw; */
  display: flex;
  /* flex-direction: row-reverse;
  justify-content: space-between; */
}

.proximach .header {
  margin-left: -14vw;
}

.proximach p {
  width: 53vw;
}

.proximach h1,h2 {
  width: 48vw;
}

.proxima {
  margin-top: 55vw;
  margin-left: 7vw;
}

/* Подвал */

footer {
  margin-top: 15vw;
  width: 75vw;
  margin-left: 15vw;
  margin-bottom: 10vw;
}

.conclution p:nth-of-type(2){
  margin-top: 2vw;
}

.logos {
  margin-top: 4vw;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  margin-left: 6vw;
}

@media (min-width: 338px) {

.earth {
  width: 45vw;
}

.kepler {
  width: 45vw;
}

.taukita {
  width: 45vw;
}

.proximach p {
  width: 49vw;
}

.proxima {
  margin-top: 45vw;
}

}

@media (min-width: 374px) {

  .kepler {
    margin-top: 85vw;
  }

  .taukita {
    margin-top: 45vw;
  }

  .proxima {
    margin-top: 55vw;
  }

  .proximach {
    margin-top: 43vw;
  }

  .proximach p {
    width: 44vw;
  }

  p {
    font-size: 14px;
  }

  h1,h2 {
    font-size: 20px;
  }

}

@media (min-width: 413px) {

  p {
    font-size: 16px;
  }

  h1,h2 {
    font-size: 22px;
  }

  .kepler {
    margin-top: 85vw;
  }

  .proximach p {
    width: 45vw;
  }

  .taukita {
    margin-top: 38vw;
  }

  .proxima {
    margin-top: 59vw;
  }

}

@media (min-width: 454px) {

    .taukita {
      margin-top: 49vw;
    }

    .proximach {
      margin-top: 50vw;
    }

}


@media (min-width: 538px) {

  .kepler {
    margin-top: 89vw;
  }

    .taukita {
      margin-top: 55vw;
    }

    .proximach {
      margin-top: 60vw;
    }

}

@media (min-width: 767px) {

  p {
    font-size: 20px;
  }

  h1,h2 {
    font-size: 26px;
  }

  .guys {
    left: -11vw;
  }

  .illustration {
    width: 110vw;
  }

  .text {
    margin-top: 39vw;
  }

  .earth {
    width: 33vw;
  }

  .kepler {
    margin-top: 69vw;
    width: 30vw;
    margin-left: 57vw;
  }

  .taukita {
    margin-top: 37vw;
    width: 30vw;
  }

  .proximach {
    margin-top: 45vw;
  }

  .proxima {
    margin-top: 40vw;
  }

  .proximach .header p{
    width: 30vw;
  }

  .planets {
    top: 25vw;
    height: 280vw;
  }

  .earthill {
    width: 56vw;
    margin-left: 41vw;
  }

  .keplerill {
    width: 66vw;
    margin-left: 9vw;
    margin-top: 31vw;
  }

  .taukitaill {
    width: 66vw;
    margin-left: 28vw;
    margin-top: 10vw;
  }

  .proximaill {
    width: 60vw;
    margin-top: -14vw;
    margin-left: -3vw;
  }

  .babyproximaill {
    width: 30vw;
    margin-top: -80vw;
    margin-left: 4vw;
  }

  .logos {
    width: 35vw;
    margin-top: 2vw;
    margin-left: 15vw;
  }

  .logog, .logoa {
    width: 15vw;
    height: 15vw;
  }

  footer {
    margin-top: 10vw;
  }

  .text p {
    margin-top: 1vw;
  }

  .conclution p:nth-of-type(2) {
    margin-top: 1vw;
  }

}

@media (min-width: 1023px) {

  .text {
    margin-top: 41vw;
  }

  .earth {
    width: 29vw;
  }

  .kepler {
    margin-top: 69vw;
    margin-left: 57vw;
  }

  .taukita {
    margin-top: 45vw;
    width: 30vw;
  }

  .proximach {
    margin-top: 40vw;
  }

  .proxima {
    margin-top: 42vw;
  }

  .proximach .header p{
    width: 30vw;
  }

  footer {
    display: flex;
    margin-left: 6vw;
  }

  .logos {
    width: 38vw;
    margin-top: -2vw;
    margin-left: 0vw;
  }

  .logog, .logoa {
    width: 20vw;
    height: 20vw;
  }

  .logog {
    padding-right: 2vw;
  }

  .conclution p {
    width: 50vw;
  }

  h2 {
    margin-top: 0vw;
  }

  p {
    font-size: 24px;
  }

  h1, h2 {
    font-size: 30px;
  }

}

@media (min-width: 1280px) {

  .kepler {
    margin-top: 71vw;
  }

  .taukita {
    margin-top: 47vw;
  }

  .proximach {
    margin-top: 49vw;
  }

  .logos {
    width: 31vw;
    margin-top: -4vw;
    margin-left: 0vw;
  }

  .proxima {
    margin-left: 10vw;
  }

}

@media (min-width: 1365px) {

  .kepler {
    margin-top: 73vw;
  }

  .taukita {
    margin-top: 49vw;
  }

  .proximach {
    margin-top: 50vw;
  }

  .proxima {
    margin-left: 10vw;
  }

  p {
    font-size: 26px;
  }

  h1, h2 {
    font-size: 32px;
  }

  footer {
    margin-top: 5vw;
    margin-left: 9vw;
  }

}

@media (min-width: 1439px) {

  .guys, .planets {
    margin-top: -2vw;
  }

  .text {
    margin-top: 39vw;
  }

  footer {
    margin-top: 10vw;
    margin-left: 9vw;
  }

}

@media (min-width: 1679px) {

  .earth {
    width: 25vw;
  }

  .kepler {
    margin-top: 73vw;
    width: 28vw;
  }

  .taukita {
    margin-top: 49vw;
  }

  .proximach {
    margin-top: 50vw;
  }

  .proxima {
    margin-left: 10vw;
  }

  p {
    font-size: 30px;
  }

  h1, h2 {
    font-size: 36px;
  }

  .logos {
    margin-left: 2vw;
  }

  footer {
    margin-left: 8vw;
  }

}
