@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,500&display=swap&subset=cyrillic,cyrillic-ext');

body {
  background-color: #121C41;
  font-family: 'Fira Code', monospace;
}

p {
  color: #ffff;
  font-weight: 300;
  font-size: 14px;
}

h1 {
  color: #97F9F3;
  font-weight: 500;
  font-size: 18px;
  text-shadow: #97F9F3 0px 0px 2px
}

h2 {
  color: #97F9F3;
  font-weight: 500;
  font-size: 16px;
  text-shadow: #97F9F3 0px 0px 2px
}

.earth {
  margin-top: 50vw;
}

.earth .header h1 {
}

.earth .header h2 {
  width: 132px;
  margin-top: 0vw;
}
